name: tests

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
    test_python_38:
        runs-on: ubuntu-latest
        env:
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
        steps:
        - uses: actions/checkout@v2
        - name: Set up Python 3.8
          uses: actions/setup-python@v2
          with:
            python-version: 3.8
        - name: Install expect
          run: sudo apt-get update && sudo apt-get install -y expect
        - name: install dependencies
          run: |
            python -m pip install --upgrade pip
            if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        - name: run all files
          run: |
            echo 'spawn python3 ragnews.py; expect "ragnews> "; send "Sample input\r"; interact' | expect
    test_python_39:
        runs-on: ubuntu-latest
        env:
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
        steps:
        - uses: actions/checkout@v2
        - name: Set up Python 3.8
          uses: actions/setup-python@v2
          with:
            python-version: 3.9
        - name: Install expect
          run: sudo apt-get update && sudo apt-get install -y expect
        - name: install dependencies
          run: |
            python -m pip install --upgrade pip
            if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        - name: run all files
          run: |
            echo 'spawn python3 RAGnews.py; expect "ragnews> "; send "Sample input\r"; interact' | expect